<center>
<h4>Welcome to SentenceZingaling</h4>
</center>
<hr />

<ul>
  <li>First enter your name at the top of the page.</li>
  <li>Use the Create Game link or click an open game below.</li>
</ul>

<hr />
<div class="row" id="availableGames" >
  <div class="col-lg-10">
    <strong id="noGames" ng-show="availableGames.length == 0">no open games... use the Create Game link at the top to start one.</strong>
    <div ng-repeat="game in availableGames" class="well">
      <button ng-click="joinGame(game.id)" type="button" class="btn btn-primary" style="margin-right: 10px;">Join Game</button>
      <span style="font-size: larger">{{game.name}} - {{game.players}} of 4 players</span>
    </div>
  </div>
</div>
